<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <h3 class="mt-2 mr-4" style="color: white">Bonjour {{ app.user.name }} !</h3>
        <div class="navbar-collapse" id="navbarColor04">
            <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home.map') }}">Carte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user.index', { id: app.user.id }) }}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('message.index') }}">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('event.myevent') }}">&#201vènements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security.logout') }}">Déconnexion</a>
            </li>
            </ul>
        </div>
    </div>
</nav>