<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="navbar-collapse" id="navbarColor04">
            <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" style="color: white" href="{{ path('user.index', { id: app.user.id }) }}">{{ app.user.name }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home.map') }}">Carte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user.index', { id: app.user.id }) }}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('message.index') }}">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('event.myevent') }}">&#201vènements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security.logout') }}">Déconnexion</a>
            </li>
            {% if app.user.roles[0] is same as("ROLE_ADMIN") %}
            <li class="nav_item">
                <a href="" class="nav-link">Admin</a>
            </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>