<nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Bonjour {{ app.user.username }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor04">
            <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home.map') }}">Carte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user.index', { id: app.user.id }) }}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('event.index') }}">&#201vènements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security.logout') }}">Déconnexion</a>
            </li>
            </ul>
        </div>
    </div>
</nav>