{% extends 'base.html.twig' %}
{% set showFooter = true %}

{% block title %}Games & Friends - Toutes les conversations{% endblock %}

{% block body %}
    <div class="container mt-4">
    {% if not messageThreads is same as([]) %}
        <h1 class="mt-4">Mes conversations</h1>
        <div class="navigation">
            {{ knp_pagination_render(messageThreads) }}
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Correspondants</th>
                    <th scope="col">Dernier message le </th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
            {% for messageThread in messageThreads|sort((a, b) => a.updatedAt <=> b.updatedAt) %}
                <tr class="table-light">
                    <td scope="row">{{messageThread.firstUser}}</td>
                    <td scope="row">{{messageThread.secondUser}}</td>
                    <td scope="row">{{messageThread.updatedAt|date('d/m/y H:i')}}</td>
                    <td scope="row"><a class="btn btn-outline-primary btn-sm" href="{{ path('message.newMessageInThread', { messageThreadId: messageThread.id })}}">Voir la conversation</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(messageThreads) }}
        </div>
    {% else %}
        <div class="mt-4">Aucune conversation n'existe.</div>
    {% endif %}
    {% include "partials/_push.html.twig" %}
    </div>
{% endblock %}
