{% extends 'base.html.twig' %}
{% set showFooter = true %}

{% block title %}Games & Friends - Tous les évènements{% endblock %}

{% block body %}
    <div class="container mt-4">
    {% if not events is same as([]) %}
        <h1 class="mt-4">Evènements</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

        <small>
            <div class="count mt-4">
                <p>{{ events.getTotalItemCount }} évènements sont disponibles sur le site.</p>
            </div>
        </small>
        <div class="navigation">
            {{ knp_pagination_render(events) }}
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Jeu</th>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Nombre de joueur maximum</th>
                    <th scope="col">Localisation</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr class="table-light">
                    <th scope="row">{{event.name}}</th>
                    <th scope="row">{{event.eventGame}}</th>
                    <th scope="row">{{event.eventStartAt|date('d/m/y H:i')}}</th>
                    <th scope="row">{{event.eventEndAt|date('d/m/y H:i')}}</th>
                    <th scope="row">{{event.eventMaxPlayer}}</th>
                    <th scope="row">{{event.location}}</th>
                    {% if event.eventAdmin == app.user or app.user.roles[0] is same as("ROLE_ADMIN") %}
                    <td><a href="{{ path('event.edit', { id: event.id })}}" class="btn btn-outline-primary">Modifier</a></td>
                    <td><a href="{{ path('event.delete', { id: event.id })}}"class="btn btn-outline-primary">Supprimer</a></td>
                    {% endif %}
                </tr>
            </tbody>

        {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(events) }}
        </div>
    {% else %}
        <div class="mt-4">Aucun évènement n'est disponible.</div>
    {% endif %}
    {% include "partials/_push.html.twig" %}
    </div>
{% endblock %}
