{% extends 'base.html.twig' %}

{% block title %}Games & Friends - Gestion des jeux{% endblock %}

{% block body %}
    <div class="container mt-4">
    {% if not games is same as([]) %}
        <h1 class="mt-4">Jeux</h1>

    <a href="{{ path('game.new') }}" class="btn btn-outline-primary">
        Ajouter un jeu
    </a>

    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

        <small>
            <div class="count mt-4">
                <p>{{ games.getTotalItemCount }} jeux sont disponibles sur le site.</p>
            </div>
        </small>
        <div class="navigation">
            {{ knp_pagination_render(games) }}
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr class="table-light">
                    <th scope="row">{{game.gameName}}</th>
                    <td><a href="{{ path('game.edit', { id: game.id })}}" class="btn btn-outline-primary">Modifier</a></td>
                    <td><a href="{{ path('game.delete', { id: game.id })}}"class="btn btn-outline-primary">Supprimer</a></td>
                </tr>
            </tbody>

        {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(games) }}
        </div>
    {% else %}
        <div class="mt-4">Aucun jeu n'est disponible.</div>
    {% endif %}
    </div>
{% endblock %}
