{% extends "base.html.twig" %}
{% set showFooter = true %}

{% block title %}Games & Friends - Ajout d'un jeu{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-4">
            Ajout d'un jeu
        </h1>

        <a href="{{ path('game.index') }}" class="btn btn-outline-primary">
            Revenir à la liste
        </a>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.gameName) }}
            {{ form_widget(form.gameName) }}
            <div class="form-error">
                {{ form_errors(form.gameName) }}
            </div>
        </div>

        <div class="form-group">
        {{ form_row(form.submit) }}
        </div>

        {{ form_end(form) }}
    {% include "partials/_push.html.twig" %}
    </div>
{% endblock %}