{% extends "base.html.twig" %}

{% block title %}Games & Friends - Modifier mon mot de passe{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-4">
            Modifier mon mot de passe
        </h1>

        <a href="{{ path('user.index', { id: app.user.id }) }}" class="btn btn-outline-primary mt-4 mb-4">
            Revenir en arrière
        </a>

        {% for message in app.flashes('warning') %}
            <div class="alert alert-dismissible alert-warning mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.plainPassword) }}
            {{ form_widget(form.plainPassword) }}
            <div class="form-error">
                {{ form_errors(form.plainPassword) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_widget(form.newPassword) }}
            <div class="form-error">
                {{ form_errors(form.newPassword) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_row(form.submit) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}