{% extends 'base.html.twig' %}
{% set showFooter = true %}

{% block title %}Games & Friends - Profil de {{user.name}}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-4">Profil de {{user.name}}</h1>
        <a class="btn btn-outline-primary m-4" href="{{ path('message.redirect', { id: user.id })}}" role="button">Contacter {{user.name}}</a>
        <table class="table">
            <tr>
                <th scope="row" colspan="2"><h4>Informations générales</h4></th>
            </tr>
            <tr>
                <th scope="row">Nom d'utilisateur</th>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <th scope="row">Date d'inscription</th>
                <td>{{user.createdAt|date('d/m/y H:i')}}</td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th scope="row" colspan="2"><h4>Jeux</h4></th>
            </tr>
            {% for game in user.games|sort((a, b) => a.gameName <=> b.gameName) %}
            <tr>
                <td scope="row">{{game}}</td>
            </tr>
            {% endfor %}
        </table>
        {% include "partials/_push.html.twig" %}
    </div>
{% endblock %}
