{% extends 'base.html.twig' %}

{% block title %}Games & Friends - Inscription{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Inscription</h1>
    <a href="{{ path('home.index') }}" class="btn btn-outline-primary">
        Revenir à l'accueil
    </a>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.userName) }}
        {{ form_widget(form.userName) }}
        <div class="form-error">
            {{ form_errors(form.userName) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}
        <div class="form-error">
            {{ form_errors(form.firstName) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName) }}
        <div class="form-error">
            {{ form_errors(form.lastName) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        <small id="emailHelp" class="form-text text-muted">Votre adresse mail ne sera utilisée qu'à des fins d'authentifications et ne sera jamais communiqué à quiconque.</small>
        <div class="form-error">
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_widget(form.plainPassword) }}
        <div class="form-error">
            {{ form_errors(form.plainPassword) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.games) }}
        {{ form_widget(form.games) }}
        <div class="form-error">
            {{ form_errors(form.games) }}
        </div>
    </div>

    <div class="form-group">
    {{ form_row(form.submit) }}
    </div>

    {{ form_end(form) }}
</div>

</div>
{% endblock %}